.App {
  text-align: center;
  padding-bottom: 60px;
  background-image: url('/src/assets/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
}

.navbar {
  background-color: #3b4cca;
  padding: 1rem;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

/* src/components/Home.css */
.home {
  padding: 2rem;
}

.home input {
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.pokemon-list a {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

/* src/components/PokemonDetail.css */
.pokemon-detail {
  padding: 2rem;
}

.pokemon-detail img {
  width: 150px;
  height: 150px;
}

.pokemon-detail h2 {
  margin-top: 1rem;
}